<div class="row">

  <!-- ジャンル検索 -->
  <%= render '/genre_search', genres: @genres %>

  <!-- メインコンテンツ-->
  <div class='col-xs-9'>
  	<!-- トップ画像 -->
  	<div class="jumbotron">
  		<div class="container">
	        <h3>ようこそ、NaganoCakeへ！</h3>
    		<div class="site-description">
    			このサイトは、ケーキ販売のECサイトになります。</br>
    			会員でない方も商品の閲覧はできますが、</br>
    			購入には会員登録が必要になります。
    		</div>
	      </div>
    </div>

    <!-- オススメ商品リスト-->

    <%= render 'costomers/products/index', products: @products %>

    <div class="more_item"><%= link_to "もっと見る>", products_path %></div>

  </div>
</div>