/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


header{
	.navbar-left{
		span{
			font-size:20px;
			padding-top:10px;
		}
	}
	.navbar-right{
		li{
			margin:10px;
		}
	}
}

.body{
	margin-top:60px;
	padding-bottom:70px;
}
.jumbotron { 
	background:url(cake1.jpg) center no-repeat;
	background-size: cover;
}
.site-description{
	margin-bottom:20px;
	padding-top:0px;
}
.thumbnail{
	.caption{
		padding-top:5px;
	}
	border: 0px none;
	margin-bottom:0px;
}
.more_item{
	text-align:right;
	padding-top:0px;
}
.box {
        position: relative;
        height: 300px;
}
.bottom-text {
        position: absolute;
        bottom: 0;

}
.side{
	height:100%;
}
.soldout{
	color:#EEEEEE;
}