<div class="row">

  <!-- ジャンル検索 -->
  <%= render '/genre_search', genres: @genres %>

  <!-- メインコンテンツ-->
  <div class='col-xs-9'>
    <!-- 全商品一覧かジャンル検索かで表示切り替え -->
  	<h3><%= (@genre.present?)? "#{@genre.name}一覧（全 #{@products.count} 件）" : "商品一覧（全 #{Product.count} 件）" %></h3>

  　<!-- 商品一覧 -->
  	<%= render 'products/index', products: @products %>
  </div>

</div>

<!-- ページネーション -->
<div style="text-align: center;">
	<%= paginate @products %>
</div>