<footer class="navbar navbar-default navbar-fixed-bottom">
  <div class='container'>
  	<div class='row'>
    	<div class='col-xs-3 col-xs-offset-9'>
    		<small>© 2020 Nagano Cake inc.<i class="fas fa-cat"></i></small>
    	</div>
    </div>
  </div>
</footer>
