<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <nav class='nav navbar-nav navbar-left' >
      <span>Logo（要差し替え）</span>
      仮ヘッダー
    </nav>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      	<li><button class="btn btn-default">商品一覧</button></li>
        <li><button class="btn btn-default">新規登録</button></li>
        <li><button class="btn btn-default">ログイン</button></li>
      </ul>
    </nav>
  </div>
</header>
